.searchInputs {
    display: flex;
    border: none;
}

.search input{
    background-color: rgb(255, 255, 255);
    border: none;
    border: #212529;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 7px;
    padding-left: 15px;
    width: 550px;
}

.searchIcon {
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    place-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.icon:hover {
    color: rgb(97, 189, 219);
}

input:focus {
    outline: none;
}

.dataResult {
    margin-top: 15px;
    box-shadow: 2px 2px 7px rgb(153, 153, 153);
    z-index: 1;
    position: absolute;
    width: 590px;
    height: 200px;
    background-color: white;
    overflow: visible;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p{
    margin-left: 30px;
    align-items: center;
} 

a {
    text-decoration: none;
}

.dataItem:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}